.env
__pycache__/
.chainlit/
*.jsonl
*.egg-info/
*.pyc
*.pyo
*.pyd
dist/
build/
*.whl
*.tar.gz
*.zip
*.egg
*.db
*.csv
*.npy
*.pkl
*.faiss

env*
logs/
info
test_*.py
basic_usage.py
hypothesis_pipeline.ipynb
main.ipynb
