include README.md
include LICENSE
include requirements.txt
include .env.example
recursive-include BioDisco *.py
recursive-include BioDisco/utils *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
exclude .gitignore
exclude .git*
